body {
    background-color: white;
    background-image: url("tickets.jpg");
    background-size: cover;
    background-blend-mode: darken;
}
h1 {
    font-family: "Rockwell";
    text-align: center;
    font-size: 40pt;
    color: white;
    margin-top: 80px;
}
.boxed {
    text-align: left;
    font-family: "Tahoma";
    font-size: 17pt;
    width: 100%;
    color: white;
    border: 1px solid white;
    width: 500px;
    background-color: DarkBlue;
    margin: auto;
    margin-top: 50px;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 20px;
}